/* Owen Dane Assignment 1 */
/* Simple browser reset */
* {
    margin: 0;
    padding: 0;
}
/* :not(header) */
body {
    background-image: url(/images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
    background-position: center;
}
/* Type Selector or element */
header {
 background-image: url(//images/moritz-ludtke-KLELmiWSUKM-unsplash.jpg);
 padding: 4.5rem;
 color: black;
 background-position: center;
 position: relative;
  
 
}

header h1 {
    font-size: 4rem;
}

header h2 {
    font-size: 2rem;
}
/* Class selector  */
.summary{
    font-size: 1.1rem;
    padding: 0.5rem;
    
}
/* id selector */
#zen-preamble{
font-size: 1.1rem;
padding: 0.5rem;
}

#zen-supporting{
    padding: 0.5rem;
    font-size: 1.1rem;
}
#zen-participation{
    padding: 0.5rem;
    font-size: 1.1rem;
}

#zen-benefits{
    padding: 0.5rem;
    font-size: 1.1rem;
}

#zen-requirements {
    padding: 0.5rem;
    font-size: 1.1rem;
}

h3{
    padding: 1rem;
    font-family: 'Oswald', sans-serif;
}

.sidebar{
    float: right;
    width: 15%;
}






/* Psuedo class */
