/* Owen Dane Assignment 1 */
/* Simple browser reset */
* {
    margin: 0;
    padding: 0;
}

/* :not(header) in case needed */
body {
    background-image: url(/images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
    background-position: center;
    width: 85%;
}

/* Type Selector or element */
header {
    background-image: url(//images/moritz-ludtke-KLELmiWSUKM-unsplash.jpg);
    padding: 4.5rem;
    color: black;
    background-position: center;
}

header img {
    float: right;
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

header h1 {
    font-size: 4rem;
    text-shadow: 2px 2px blue;
    font-family: 'Roboto', sans-serif;
}

header h2 {
    font-size: 2rem;
    text-shadow: 1px 1px blue;
}

/* Class selector  */
/* A demonstration */
.summary {
    font-size: 1.4rem;
    padding: 0.5rem 4rem;
    background-color: skyblue;
}

/* id selector */
/* The road to en */
#zen-preamble {
    font-size: 1.2rem;
    padding: 0.5rem 4rem;
}

#zen-supporting {
    padding: 0.5rem 4rem;
    font-size: 1.2rem;
}

#zen-participation {
    padding: 0.5rem;
    font-size: 1.2rem;
}

#zen-benefits {
    padding: 0.5rem;
    font-size: 1.2rem;
}

#zen-requirements {
    padding: 0.5rem;
    font-size: 1.2rem;
}

h3 {
    padding: 1rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    text-shadow: 0.5px 0.5px blue;
}

/* .sidebar{
    float: right;
    width: 15%;
} */
aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 225px;
    height: 100%;
    padding: 0 3rem;
    box-sizing: border-box;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: blue;
}

#design-selection h3 {
    font-size: 2rem;
}

/* Psuedo class */